<h4 class="display-4 text-center my-4">Account Settings</h4>

<div class="row justify-content-center">
  <div class= "col-md text-center">
    <p>Change your account information.</p>
  </div>
</div>

<%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
  <%= devise_error_messages! %>
  <div class="row justify-content-center">
    <div class="col-md-4 field form-group">
      <%= f.label :first_name %><br />
      <%= f.text_field :first_name, class: "form-control", autofocus: true  %>
      <small class="form-text text-muted">English alphabet, spaces, and dashes only please.</small>
    </div>
    <div class="col-md-4 field form-group">
      <%= f.label :last_name %><br />
      <%= f.text_field :last_name, class: "form-control" %>
    </div>
  </div>
  <div class="row justify-content-center">
    <div class="col-md-4 field form-group">
      <%= f.label :badge_number %><br />
      <%= f.text_field :badge_number, class: "form-control" %>
      <small class="form-text text-muted">N/A if you don't have one.</small>
    </div>
    <div class="col-md-4 field form-group">
      <%= f.label :email %><br />
      <%= f.email_field :email, class: "form-control" %>
      <small class="form-text text-muted">You'll use this to log in.</small>
    </div>
  </div>
  <div class="row justify-content-center">
    <div class="col-md-4 field form-group">
      <%= f.label "New Password" %>
      <%= f.password_field :password, class: "form-control", autocomplete: "off", placeholder:  "Leave blank for no changes." %>
    <small class="form-text text-muted"><%= @minimum_password_length %> characters minimum</small>
    </div>
    <div class="col-md-4 field form-group">
      <%= f.label "Confirm new password" %>
      <%= f.password_field :password_confirmation, class: "form-control", autocomplete: "off" %>
    </div>
  </div>
  <div class="row justify-content-center">
    <div class="col-md-4 field form-group">
      <%= f.label :current_password %>
      <%= f.password_field :current_password, class: "form-control", autocomplete: "off", placeholder: "Required to confirm changes" %>
    </div>
  </div>
  <div class="row justify-content-center">
    <div class="col-md-4 actions">
      <%= f.submit "Update", class: "btn btn-primary btn-lg btn-block" %>
    </div>
  </div>
<% end %>
<div class="row">
  <div class="m-5 p-3 card border-danger">
      <h4 class="card-title">Account Deactivation</h4>
      <p class="card-text"><strong>Warning:</strong> If you deactivate your account, you will no longer be able to log in. Your records will be preserved, only an administrator can reactivate you.</p>
        <% if current_user.admin? %>
          Please ensure that you are not the only remaining administrator account; If all administrator accounts are deactivated, it will be difficult to create new ones.
        <% end %>
      </p>
      <div class="row justify-content-center">
        <%= button_to "Deactivate my account", registration_path(resource_name), data: { confirm: "Are you sure you want to deactivate your account?" }, method: :delete, class: "btn btn-danger" %></p>
      </div>
  </div>
</div>
<div class="row justify-content-center">
  <%= link_to "Back", :back, class: "m-5" %>
</div>
