<%= form_for @timecard do |f| %>
  <div class="row justify-content-center">
    <div class="form-group col-xl-5 mx-1">
      <%= f.label :description %>
      <%= f.text_area :description, class: "form-control", rows: "3" %><br>
    </div>
  </div>
  <div class="row justify-content-center">
    <div class="col-xl-5">
      <div class="form-group form-inline">
        <%= f.label "Clock in:", class: "mr-auto" %>
        <%= f.date_field :field_clock_in_date, value: @timecard.field_clock_in_date, class: "form-control mx-1" %>
        <%= f.time_select :field_clock_in_time, {ignore_date: true, minute_step: 15}, value: @timecard.field_clock_in_time, class: "form-control mx-1" %>
      </div>
    </div>
  </div>
  <div class="row justify-content-center">
    <div class="col-xl-5">
      <div class="form-group form-inline">
        <%= f.label "Clock out:", class: "mr-auto" %>
        <%= f.time_select :field_clock_out_time, {minute_step: 15}, value: @timecard.field_clock_out_time, class: "form-control mx-1" %>
      </div>
    </div>
  </div>
  <div class="row justify-content-center">
    <div class="col-xl-5 mx-1">
      <%= f.submit "Log it!", class: "btn btn-success btn-block my-4" %>
    </div>
  </div>
<% end %>
