<div class="row justify-content-center form-group">
  <%= form_tag({}, {method: :get, class: "form-inline"})  do %>
    <%= label_tag "Display workdays from: " %>
    <%= date_field_tag :start, value = @params[:start].strftime("%Y-%m-%e"), class: "form-control mx-2" %>
    <%= label_tag "Through: "%>
    <%= date_field_tag :finish, value = @params[:finish].strftime("%Y-%m-%e"), class: "form-control mx-2" %>
    <%= submit_tag "Go!", class: "btn btn-info" %>
  <% end %>
</div>

<div class="row justify-content-center">
  <div class="col-sm-6">
    <table class=" table table-hover my-4">
      <tr>
        <th scope="col">Name</th>
        <th scope="col">Date</th>
        <th scope="col">Hours</th>
        <th scope="col">Description</th>
      </tr>
    
      <% @timecards.list.each do |t| %>
        <tr onclick="window.location='<%= timecard_path(t.id) %>'">
          <td><%= "#{t.user.last_name}, #{t.user.first_name}".truncate(25, omission: "...") %></td>
          <td><%= t.start.strftime("%A, %b %d") %></td>
          <td><%= t.duration %></td>
          <td><%= t.description.truncate(25, omission: "...") %></td>
        </tr>
      <% end %>
    </table>
  </div>
</div>
<div class="row">
  <p class="mx-auto"><strong>Total Time for these days:</strong> <%= @timecards.total_duration %> hours</p>
</div>