<h4 class="display-4 text-center my-4">Timecards for <%= @user.first_last %></h4>
<div class="form-group mx-2">
  <%= form_tag({}, {method: :get})  do %>
    <div class="form-row justify-content-center">
      <div class="col-md-3 mb-3">
        <%= label_tag "Display workdays for: " %>
        <%= select_tag(:user_id, options_for_select(@select_options.list, selected= @user.id ), class: "form-control") %>
      </div>
      <div class="col-md-2 mb-3">
        <%= label_tag "From: " %>
        <%= date_field_tag :range_start, value = @timecards.formatted_range_start, class: "form-control" %>
      </div>
      <div class="col-md-2 mb-3">
        <%= label_tag "Through: "%>
        <%= date_field_tag :range_end, value = @timecards.formatted_range_end, class: "form-control" %>
      </div>
      <div class="col-md-1 mb-3 align-self-end">
      <%= submit_tag "Go!", class: "btn btn-block btn-primary" %>
      </div>
    </div>
  <% end %>
</div>

<%= admindex_table %>
