<h4 class="display-4 text-center my-4">Timecards for <%= @user.first_last(30) %></h4>
<div class="row justify-content-center">
  <div class="col-auto">
<%= button_to "Log new workday", new_timecard_path, class: "btn btn-success btn-lg text-center my-5", id: "logtimecardbutton", method: :get if policy(Timecard).new? %>
  </div>
</div>
<div class="form-group mx-2">
  <%= form_tag({}, {method: :get, class: ''})  do %>
    <div class="form-row justify-content-center">
      <div class="col-md-3 mb-3">
        <%= label_tag "Display workdays from: ", nil, class: 'control-label' %>
        <%= date_field_tag :range_start, value = @timecards.range_start.strftime("%Y-%m-%d"), class: "form-control" %>
      </div>
      <div class="col-md-3 mb-3">
        <%= label_tag "through: ", nil, class: 'control-label' %>
        <%= date_field_tag :range_end, value = @timecards.range_end.strftime("%Y-%m-%d"), class: "form-control" %>
      </div>
      <div class="col-md-2 mb-3 align-self-end">
        <%= submit_tag "Go!", class: "btn btn-block btn-primary" %>
      </div>
    </div>
  <% end %>
</div>
<div class="row justify-content-center">
  <div class="col-sm-6">
    <table class=" table table-hover my-4">
      <thead>
        <tr>
          <th scope="col">Date</th>
          <th scope="col">Hours</th>
          <th scope="col">Description</th>
        </tr>
      </thead>
      <tbody>
        <% if @timecards.list.any? %>
          <% @timecards.list.each do |t| %>
            <tr onclick="window.location='<%= timecard_path(t) %>'">
              <td><%= link_to t.clock_in.strftime("%A, %b %d"), timecard_path(t) %></td>
              <td><%= t.duration_hours %></td>
              <td><%= t.description.truncate(25, omission: "...") %></td>
            </tr>
          <% end %>
        <% else %>
          <tr><td>No timecards found for these dates.</td><tr>
        <% end %>
      </tbody>
    </table>
  </div>
</div>
<div class="row">
  <p class="mx-auto"><strong>Total Time for these days:</strong> <%= @timecards.total_duration %> hours</p>
</div>
