<h4 class="display-4 text-center my-3">My Training</h4>
<h5>Not complete: </h5>
<table class="table table-hover my-4">
  <% unless @training_videos_incomplete.any? %>
    <% @training_videos_incomplete.each do |v| %>
      <tr onclick="window.location='<%= training_video_path(v) %>'">
        <td><%= link_to v.title, training_video_path(v.id) %> </td>
      </tr>
    <% end %>
  <% end %>
</table>
<h5>Complete: </h5>
<table class="table table-hover my-4">
  <% unless @training_videos_complete.any? %>
    <% @training_videos_complete.each do |v| %>
      <tr onclick="window.location='<%= training_video_path(v) %>'">
        <td><%= link_to v.title, training_video_path(v.id) %> </td>
      </tr>
    <% end %>
  <% end %>
</table>
<%= link_to "Add Video", new_training_video_path, class: "btn btn-primary text-center my-2"  if policy(TrainingVideo).new? %>