<div class="embed-responsive embed-responsive-16by9">
    <iframe type="text/html" class="embed-responsive-item"
      src="https://www.youtube.com/embed/<%= @video.yt_id %>" frameborder="0">
  </iframe>
</div>
<div class="card my-3 p-3">
    <h4 class="card-title"><%= @video.title %></h4>
     <p class="card-text"><%= @video.description %></p>
</div>
<div class="col card p-3 my-4">
  <% if @training_record %>
    <p>Signed off <%=@training_record.created_at.strftime("%A, %b %d %Y") %></p>
    <%= button_to "I haven't actually completed this training.", training_record_path(@training_record), 
      data: {confirm: "Are you sure you want to delete this training record?"},
      class: "btn btn-outline-danger btn-sm", method: :delete %>
  <% else %>
    <%= button_to "I solemnly swear that I have completed this training.",
      training_records_path(@video), method: :post, class: "btn btn-primary btn-block my-2" %>
  <% end %>
</div>
<div class="row">
  <%= link_to "Back to index", training_videos_path, class: "text-center mx-auto my-2" %>
</div>
<div class="row">
  <%= link_to "Edit Video", edit_training_video_path(@video), class: "text-center mx-auto my-2" if current_user.trainer? %>
</div>
<div class="row">
  <%= link_to "List users who have completed this video", users_training_video_path(@video), class: "text-center mx-auto my-2" if current_user.trainer? %>
</div>
  