<!-- All of these methods are defined in pages_helper.rb -->
<div class="col-md-3">
  <%= pending_users %>
  <%= weekly_timecard_stats %>
  <%= last_workday %>
</div>

<div class="col-md-9">
  <%= bulletins %>
  <%= create_bulletin %>
</div>
