<% if @training_requirement.errors.any? %>
  <div class="card border-danger">
    <div class="card-header bg-danger text-white">
     <%= "#{pluralize(@training_requirement.errors.count, "error")} prevented this video from being saved: " %>
    </div>
    <ul class="list-group list-group-flush">
      <% @training_requirement.errors.full_messages.each do |m| %>
        <li class="list-group-item"><%= "#{m}" %></li>
      <% end %>
    </ul>
  </div>
<% end %>
<div class="row justify-content-center">
  <div class="col">
    <div class="card border-warning p-3 mb-4">
      <h3 class="card-title">Important Information</h3>
      <p class="card-text">
        This website can accept any YouTube video, listed or unlisted, to show 
        trainees. Listed videos show up in YouTube searches and suggestions, while unlisted
        videos can only be accessed with the exact address. <strong>This 
        does not mean they are private</strong>; anybody with the link (including
        everyone who has access to this website) can share it freely. It's 
        even possible to randomly discover an unlisted video by trial and error. There 
        are services available, such as vimeo, which offer truly private video hosting, 
        but not for free. 
      </p>
      <p class="card-text">
        You can add existing youtube videos, or you can upload your own. You'll need a 
        Google account, and pay attention to privacy settings before you publish 
        the video if you'd like to set it as unlisted. There is more help 
        <a href="https://support.google.com/youtube/answer/57407?co=GENIE.Platform%3DDesktop&hl=en">here</a>
        if you need it. 
      </p>
    </div>
  </div>
</div>
<%= form_for @training_requirement do |f| %>
  <%= fields_for :training_video do |v| %>
    <div class = "form-group">
      <%= v.label "YouTube address" %>
      <%= v.text_field :url, class: "form-control", placeholder: "https://www.youtube.com/watch?v=3VHTUG-VpWA" %>
      <small id="urlHelp" class="form-text text-muted">
        Pull up the youtube video you want to add, copy and paste its address here. 
      </small>
    </div>
  <% end %>
  <div class = "form-group">
    <%= f.label :title %>
    <%= f.text_field :title, class: "form-control form-control-lg", placeholder: "The Ultimate Hickock45 Montage" %>
    <small id="titleHelp" class="form-text text-muted">
      This will be the name used for this video on this website. It's unrelated to the YouTube title.  
    </small>
  </div>
  <div class = "form-group">
    <%= f.label :description %>
    <%= f.text_area :description, class: "form-control", rows: "5", placeholder: "This old grandpa shoots better than all my friends." %>
    <small id="descriptionHelp" class="form-text text-muted">
      This will show up below the video when people watch it. It's unrelated to the description on YouTube.
    </small>
  </div>
  <%= f.submit "Save!", class: "btn btn-lg btn-success my-4" %>
<% end %>
