<div class="embed-responsive embed-responsive-16by9">
  <iframe type="text/html" class="embed-responsive-item"
    src="https://www.youtube.com/embed/<%= @training_requirement.training_video.yt_id %>?modestbranding=1&rel=0&showinfo=0" 
    frameborder="0" gesture="media" allow="encrypted-media" allowfullscreen>
  </iframe>
</div>
<div class="card my-3 p-3">
    <h4 class="card-title"><%= @training_requirement.title %></h4>
     <p class="card-text"><%= @training_requirement.description %></p>
</div>
<div class="col card p-3 my-4">
  <% if @training_record %>
    <p>Signed off <%=@training_record.created_at.strftime("%A, %b %d %Y") %></p>
    <%= button_to "I haven't actually completed this training.", training_record_path(@training_record), 
      data: {confirm: "Are you sure you want to delete this training record?"},
      class: "btn btn-outline-danger btn-sm", method: :delete %>
  <% else %>
    <%= button_to "I solemnly swear that I have completed this training.",
      training_records_training_requirement_path(@training_requirement), method: :post, class: "btn btn-primary btn-block my-2" %>
  <% end %>
</div>
<div class="row">
  <%= link_to "List users who have completed this video", users_training_requirement_path(@training_requirement), class: "text-center mx-auto my-2" if policy(@training_requirement).users? %>
</div>
<div class="row">
  <%= link_to "Edit Video", edit_training_requirement_(@training_requirement), class: "text-center mx-auto my-2" if policy(@training_requirement).edit? %>
</div>
