<h4 class="display-4 text-center my-4">Editing <%= @user.first_name %>'s profile.</h4>
<%= form_with(model: @user) do |f| %>
  <div class="row justify-content-center">
    <div class="col-md-4 field form-group">
      <%= f.label :first_name %>
      <%= f.text_field :first_name,  class: "form-control" %>
    </div>
    <div class="col-md-4 field form-group">
      <%= f.label :last_name %>
      <%= f.text_field :last_name,  class: "form-control" %>
    </div>
  </div>
  <div class="row justify-content-center">
    <div class="col-md-4 field form-group">
      <%= f.label :badge_number %>
      <%= f.text_field :badge_number,  class: "form-control" %>
    </div>
    <div class="col-md-4 field form-group">
      <%= f.label :email %>
      <%= f.email_field :email, class: "form-control" %>
    </div>
  </div>
  <div class="row justify-content-center">  
    <div class="col-md-8 form-check form-check-inline text-center">
      <label class="mx-4">  
        <%= f.radio_button :role, :pending, class: "disabled" %>
        Pending
      </label>
      <label class="mx-4">
        <%= f.radio_button :role, :deputy %>
        Deputy
      </label>
      <label class="mx-4">
        <%= f.radio_button :role, :trainer %>
        Trainer
      </label>
      <label class="mx-4">
        <%= f.radio_button :role, :admin %>
        Administrator
      </label>
    </div>
  </div>
  <div class="row justify-content-center">
    <div class="col-md-8 actions form-group">
      <%= f.submit "Update", class: "btn btn-primary btn-lg btn-block" %>
    </div>
  </div>
 
<% end %>
<div class="row justify-content-center">
  <div class="card border-primary m-5 p-3">
    <h4 class="card-title">Activation Status</h4>
    <% if @user.deleted_at %>
      <p><%= @user.first_last %> was deactivated on <%= @user.deleted_at.strftime("%B %e, %Y") %>. Deactivated users can't log in, and they won't show up in most of the site, but all their records will be kept. If you reactivate them, they will have normal access again.</p>
      <%= button_to "Reactivate User", reactivate_user_path(@user), class: "btn btn-primary btn-block", method: :patch %>
    <% else %>
      <p><%= @user.first_last %> is currently active. If you deactivate a user, their records will not be deleted, but they will not be able to log in and they will not show up in most parts of the site.</p>
      <%= button_to "Deactivate User", deactivate_user_path(@user), class: "btn btn-secondary btn-block", method: :patch %>
    <% end %>
  </div>
</div>
<div class="row justify-content-center">
  <div class="card border-danger m-5 p-2">
      <h4 class="card-title">Account Deletion</h4>
      <p class="card-text">Warning: This cannot be undone. All of this person's training records and timecards will be irreversibly deleted. If this was a real account used by a real person, you shouldn't do this; use the deactivate button above instead.</p>
      <div class="row justify-content-center">
          <%= button_to "Delete user", user_path, data: { confirm: "Are you sure?" }, method: :delete, class: "btn btn-danger btn-lg btn-block" %>
      </div>
  </div>
</div>
<div class="row justify-content-center">
  <%= link_to "Back", :back, class: "m-5" %>
</div>
