<div class="row justify-content-center">
  <div class= "col-md">
    <h4 class="text-center my-5 mx-1 px-1">Editing <%= @user.first_name %>'s profile.</h4>
  </div>
</div>

<%= form_with(model: @user) do |f| %>
  <div class="row justify-content-center">
    <div class="col-md-4 field form-group">
      <%= f.label :first_name %>
      <%= f.text_field :first_name,  class: "form-control" %>
    </div>
    <div class="col-md-4 field form-group">
      <%= f.label :last_name %>
      <%= f.text_field :last_name,  class: "form-control" %>
    </div>
  </div>
  <div class="row justify-content-center">
    <div class="col-md-4 field form-group">
      <%= f.label :badge_number %>
      <%= f.text_field :badge_number,  class: "form-control" %>
    </div>
    <div class="col-md-4 field form-group">
      <%= f.label :email %>
      <%= f.email_field :email, class: "form-control" %>
    </div>
  </div>
  <div class="row justify-content-center">  
    <div class="col-md-8 form-check form-check-inline text-center">
      <label class="mx-4">  
        <%= f.radio_button :role, :pending %>
        Pending
      </label>
      <label class="mx-4">
        <%= f.radio_button :role, :deputy %>
        Deputy
      </label>
      <label class="mx-4">
        <%= f.radio_button :role, :trainer %>
        Trainer
      </label>
      <label class="mx-4">
        <%= f.radio_button :role, :admin %>
        Administrator
      </label>
    </div>
  </div>
  <div class="row justify-content-center">
    <div class="col-md-8 actions form-group">
      <%= f.submit "Update", class: "btn btn-primary btn-lg btn-block" %>
    </div>
  </div>
 
<% end %>
<br><br>

<div class="row justify-content-center">
  <div class="card border-danger m-5 p-2">
      <h4 class="card-title">Account Deletion</h4>
      <p class="card-text">Warning: This cannot be undone. All of this person's training records and timecards will be irreversibly deleted.</p>
      <div class="row justify-content-center">
          <%= button_to "Delete user", user_path, data: { confirm: "Are you sure?" }, method: :delete, class: "btn btn-danger btn-lg btn-block" %>
      </div>
  </div>
</div>
<div class="row justify-content-center">
  <%= link_to "Back", :back, class: "m-5" %>
</div>