<table>
    <tr>
        <th>Name</th>
        <th>Badge Number</th>
        <th>Email</th>
        <th>Role</th>
    </tr>
    <% @users.each do |u| %>
   <tr> 
       <td><%= "#{u.first_name} #{u.last_name}" %></td>
       <td><%= u.badge_number %></td>
       <td><%= u.email %></td>
       <td><%= u.role %></td>
       <td><%= link_to "Show", user_path(u.id) %></td>
       <td><%= link_to "Edit", edit_user_path(u.id) %></td>
   </tr>
<% end %>
</table>