<table>
    <tr>
        <th></th>
        <th></th>
        <th>Name</th>
        <th>Badge Number</th>
        <th>Email</th>
        <th>Role</th>
        <th>Last signed in</th>
    </tr>
    <% @users.each do |u| %>
   <tr> 
       <td><%= link_to "Show", user_path(u.id) %></td>
       <td><%= link_to("Edit", edit_user_path(u.id)) if current_user.admin? %></td>
       <td><%= "#{u.first_name} #{u.last_name}" %></td>
       <td><%= u.badge_number %></td>
       <td><%= u.email %></td>
       <td><%= u.role.capitalize %></td>
       <td><%= u.current_sign_in_at %></td>
   </tr>
<% end %>
</table>