<div class="row justify-content-center">
  <div class="col align-self-center col-md-8 card"> 
    <h4 class="display-4 card-title text-center"><%= "#{@user.first_name} #{@user.last_name}" %> </h1>
    <h4 class="card-subtitle text-center"><%= @user.role.capitalize %></h2>
    <div class="card-body">
      <p><strong>Badge number:</strong> <%= @user.badge_number %> </p>
      <p><strong>Email address:</strong> <%= @user.email %> </p>
      <p><strong>Account created:</strong> <%= @user.created_at %></p>
      <p><strong>Last signed in:</strong> <%= @user.current_sign_in_at %></p>
      <p><strong>Number of times signed in:</strong> <%= @user.sign_in_count %></p>
      <p><%= link_to "View user's timecards", user_timecards_path(@user) %></p> 
      <p><%= link_to "Edit user's details", edit_user_path(@user) if current_user.admin? %></p>
      <% if is_trainer_or_admin? && @user.pending? %>
        <div class="row justify-content-center my-3">
          <div class="col">
            <%= button_to("Approve", accept_user_path, method: :put, class: "btn btn-success btn-block") %>
          </div>
          <div class="col">
            <%= button_to("Reject", reject_user_path, method: :delete, class: "btn btn-danger btn-block") if is_trainer_or_admin? && @user.pending?%>
          </div>
        </div>
      <% end %>
    </div>
  </div>
</div>
<p class="text-center p-3"><%= link_to "Back to userlist", users_path %></p>
