<h1><%= "#{@user.first_name} #{@user.last_name}" %> </h1>
<h2><%= @user.role.capitalize %></h2>

<p>Badge number: <%= @user.badge_number %> </p>
<p>Email address: <%= @user.email %> </p>
<p>Account created: <%= @user.created_at %></p>
<p>Last signed in: <%= @user.current_sign_in_at %></p>
<p>Number of times signed in: <%= @user.sign_in_count %></p>
<p>
  <%= link_to("Edit User", edit_user_path(@user.id)) if current_user.admin? %>
  <%= link_to "Back to userlist", users_path %> 
</p>

<p><%= link_to("Approve User", accept_user_path, method: :put) if ((current_user.trainer? || current_user.admin?) && @user.pending?)%></p>
<p><%= link_to("Reject User", reject_user_path, method: :delete) if ((current_user.trainer? || current_user.admin?) && @user.pending?)%></p>