<div class="col-md-3">

  <div class="m-1">
    <% unless @last_workday.blank? %>
      <h6>Your most recent timecard was <%= @last_workday.duration_hours %> hours, on <%= @last_workday.clock_in.strftime("%A, %b %d") %>.</h6>
    <% else %>
      <h6>You have not logged any timecards.</h6>
    <% end %>
    <%= button_to "Log a workday", new_timecard_path, class: "btn btn-block btn-dark", method: :get %>
      <hr>
  </div>

  <% if policy(User).index? && @pending_count > 0 %>
    <div class="m-1">
      <h6><%= pluralize(@pending_count, "user") %> awaiting approval.</h6>
      <p>These users will not be able to sign in until they are approved by either a trainer or an administrator.</p>
      <%= button_to "Manage Users", users_path(anchor: 'Pending'), class: "btn btn-block btn-primary my-2", method: :get %>
      <hr>
    </div>
  <% end %>
</div>

<div class="col-md-9">
  <%= render partial: 'bulletins/bulletin', collection: @bulletins, cached: true %>

  <% if policy(Bulletin).create? %>
    <%= button_to "Post new bulletin", new_bulletin_path, method: :get, class: "btn btn-block btn-outline-primary my-2" %>
    <p class="text-muted text-center"><small>Bulletins are sorted by date created/modified, newest to oldest.</small></p>
  <% end %>

  <div class="card border-warning my-3">
    <h4 class="card-header">Under Construction</h4>

    <div class="card-body">
      <h6 class="card-subtitle text-muted mb-3">Robert Buchberger, Site Builder</h6>
      <p class="card-text">This site is under active development; currently it's very barebones and likely to break as I update and change things.</p>
      <p>There is no SSL encryption (https://) yet, which means that any information sent between your computer and the webserver can be read by people in between. The biggest threat here is public wifi, so I'd advise you only access it from wifi networks which have a password, and where you know everyone on them (<i>especially</i> if you are a trainer or an administrator).</p>
    </div>
  </div>

</div>
