<!-- All of these methods are defined in pages_helper.rb -->
<div class="col-md-3">
  <%= last_workday %>
  <%= pending_users %>
</div>

<div class="col-md-9">
  <%= bulletins %>
  <%= create_bulletin %>
  <%= under_construction %>
</div>
