<div class="col-md-4">
  <% if @incomplete_training_count > 0 %>
    <div class="m-3">
    <h6><%="You have #{pluralize(@incomplete_training_count, "incomplete training video")}."%></h6>
      <%= button_to "Go train", lessons_path, method: :get, class: "btn btn-block btn-dark my-2" %>
      <hr>
    </div>
  <% end %>
  <div class="m-3">
    <% unless @last_workday.blank? %>
      <h6>Your most recent timecard was <%= @last_workday.duration_hours %> hours, on <%= @last_workday.clock_in.strftime("%A, %b %d") %>.</h6>
    <% else %>
      <h6>You have not logged any timecards.</h6>
    <% end %>
    <%= button_to "Log a workday", new_timecard_path,  class: "btn btn-block btn-dark", method: :get %>
      <hr>
  </div>
  <% if policy(User).index? && @pending_count > 0 %>
    <div class="m-3">
      <h6><%= pluralize(@pending_count, "user") %> awaiting approval.</h6>
      <p>These users will not be able to sign in until they are approved by either a trainer or an administrator.</p>
      <%= button_to "Manage Users", users_path(anchor: 'Pending'), class: "btn btn-block btn-primary my-2", method: :get %>
      <hr>
    </div>
  <% end %>
</div>
<div class="col-md-8">
    <div class="card border-warning my-3">
      <h4 class="card-header">Under Construction</h4>
      <div class="card-body">
        <h6 class="card-subtitle text-muted mb-3">Robert Buchberger, Site Builder</h6>
      <p class="card-text">This website is under active development. Basic functionality is all there, but it's not complete yet and things will be changing. I apologize if I break anything when you need it! SSL encryption is not yet enabled (https), which means that most information transmitted between you and this website can be read by people in between. This will be corrected as soon as possible. Whatever you do, don't forget your password. Right now this site can't send email, which means there's no simple way to reset them. This will be fixed ASAP. Training resources can only be youtube videos for now, but when I can I'll add support for other things as well (such as PDF documents).</p>
      <p class="card-text">Please understand that I'm building this site on a volunteer basis, during my free time, while working another job and preparing for a very out-of-town move. I'll get to things as quickly as I can, but it might take a few days or weeks! I'd love to hear feedback; if something is inconvenient, or could be presented better, or if there are any other changes you'd like to see please tell me! <a href="mailto:rbuchberger@gmail.com">rbuchberger@gmail.com</a></p>
      </div>
    </div>
  <%= render partial: 'bulletins/bulletin', collection: @bulletins %>
  <% if policy(Bulletin).create? %>
    <%= button_to "Post new bulletin", new_bulletin_path, method: :get, class: "btn btn-block btn-outline-primary my-2" %>
    <p class="text-muted text-center"><small>Bulletins are sorted by date modified, in reverse-chronological order.</small></p>
  <% end %>
</div>
