<%= validation_fails @document %>
<div class="document-form">
  <%= form_for @document do |f| %>
    <%= f.label :name %>
    <%= f.text_field :name, class: 'form-control' %>
    <small class="text-muted form-text text-right">
      Leave blank to use filename
    </small>
    <%= f.label :description %>
    <%= f.text_area :description, class: 'form-control', rows: 6 %>
    <small class="text-muted form-text">
      Optional, and formatted with markdown. Google knows all about it, and
      wordpress has a pretty good quick reference <a
      href="https://en.support.wordpress.com/markdown-quick-reference/">here</a>.
    Links will be automatically linkified, and it'll even render HTML (if you're
    into that sort of thing).
    </small>
    <div class="my-4 custom-file">
      <%= f.label :file, class: 'custom-file-label' %>
      <%= f.file_field :file, class: 'custom-file-input' %>
    </div>
    <%= f.submit "Save", class: 'btn btn-primary btn-block my-2' %>
  <% end %>

  <p>
    Files can be any type, but they are limited to 100mb each (mostly to make
    sure y'all don't blow up the AWS bill). Let me know if that is a problem.
  </p>
</div>
