<h4 class="display-4 text-center my-4">Add New Document to Library</h4>

<%= form_for @document do |d| %>
  <p>Name</p>
  <%= f.text_field :name %>
  <p>Description</p>
  <%= f.text_field :description %>
  <p>File</p>
  <%= f.file_field :file %>
  <%= f.submit %>
<% end %>
