<h4 class="display-4 text-center m-5">Log in</h4>
<%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
  <div class="row justify-content-center">
    <div class="col-md-4 field form-group">
      <%= f.label :email %>
      <%= f.email_field :email, class: "form-control", autofocus: true %>
    </div>
  
    <div class="col-md-4 field form-group">
      <%= f.label :password %>
      <%= f.password_field :password, class: "form-control" %>
    </div>
  </div>
  <div class="row justify-content-center">
    <%= f.label :remember_me, class: "form-check-label" do%>
      <%= f.check_box :remember_me, class: "form-check-input" %>
      Remember me?
    <% end %>
  </div>
  <div class="row justify-content-center">
    <div class="col-md-4 actions my-4">
      <%= f.submit "Log in", class: "btn btn-primary btn-lg btn-block" %>
    </div>
  </div>
<% end %>


<%= render "devise/shared/links" %>
