<!DOCTYPE html>
<html>

  <head>

    <title>Aux Officer Tools</title>

    <%= csrf_meta_tags %>
    <link href="https://fonts.googleapis.com/css?family=PT+Sans:400,700" rel="stylesheet">
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>

    <!-- Bootstrap required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Font Awesome -->
    <script src="https://use.fontawesome.com/81c0a4bef2.js"></script>
    <%= favicon_link_tag %>

  </head>

  <body>

    <%= render "/application/navbar" %>
    <%= render "/application/flash" %>

    <!-- Here comes the main content! -->
    <main class="container">

      <%= yield %>

      <%= link_to "About", about_path, class: 'text-muted d-block text-center my-4' unless current_page?('/about') %>
    </div>
  </main>

</html>
